/*.btn{
    background-color: red;
    color: white;


}*/
/*#sb{
background-color: lightblue;
border: none;
border-radius: 8px;

}
#bt{

    background-color: lightblue;
    border: none;
    border-radius: 8px;
}
#de{
    background-color: lightblue;
    border: none;
    border-radius: 8px;
}*/